[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-admin = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-restful = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-apispec = "*"

[requires]
python_version = "3.6"

[dev-packages]
